* {
    margin:0;
    box-sizing: border-box;
    font-family: monospace;
}

textarea {
    background-color: #fefefe;
    color: #888;
    resize: none;
    font-size:2em;
    width: 100%;
    height: 100%;
}

.fullGrid {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
        "editor canvas"
        "messages canvas"
}

.loader #fileinput {
    font-size:0.979em;
}
.loader #loadButton {
    font-size: 0.97em;
}

.messages {
    position: relative;
    grid-area: messages;
}

.messages #button {
    position: absolute;
    top:0;
    right: 2.9em;
    font-size:2.3em;
}

.messages #stopButton {
    position: absolute;
    top:0;
    right:0;
    font-size:2.3em;
}

.messages #error {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:10px;
    background-color: Red;
    color: Black;
    font-weight: 600;
    display: none;
}

.canvas {
    grid-area:canvas;
}
